<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="allproducts">
        {% for product in products %}
            <div class="product-container">
                <img src="{{product.image.url}}" class="img"/>
                <h1 class="product-name">{{ product.name }}</h1>
               
                 <a href="{% url 'product_detail' id=product.id %}">View Details</a>
                 <a href="{% url 'product_update_view' id=product.id %}">Edit Product</a>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>